<odoo>
  <data>
      <menuitem id="stem_employee_request_menu_root" name="Employee Request" action="stem_employee_request_action" />
       <menuitem id="stem_employee_request_menu_" name="Employee Request" action="stem_employee_request_action" parent="stem_employee_request_menu_root" sequence="1" />

  </data>
</odoo>